 .u-section-1 {
  background-image: url("a6a92b91fc73173ab0f23de1b6790745b56ce1c3809c04bcb4ef3b035f241660aa57b93f16fa650d0048e39cbb4aed941881b71c7b6dbe4cb0fd88_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 900;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 151px 97px 0 392px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 55px 121px 0 416px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #404040, #f2f2f2);
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px 354px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 160%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    transition-duration: 0.1s;
    width: 621px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 124px;
    margin-right: 338px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 3px;
    width: auto;
    margin-top: 43px;
    margin-right: 55px;
    margin-left: 350px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    margin-right: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-right: 51px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 59px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 44px;
    margin-right: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-right: 0;
    margin-left: 75px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-right: 41px;
    margin-left: 116px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 179px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 26.31% 58.43%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 94px;
    margin-right: -69px;
    margin-left: 19px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 15px;
    margin-right: -9px;
    margin-left: 79px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0px;
    --radius: 30px;
    margin-top: 19px;
    margin-right: 92px;
    padding: 9px 12px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-list-1 {
  width: 919px;
  margin: 54px 81px 54px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 445px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 5px;
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px 112px 0 80px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 8px 0 80px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 5px;
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px 112px 0 80px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  line-height: 2;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 8px 0 80px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: 21px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 54px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-2 {
    width: 263px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 54px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-4 {
    width: 263px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 520px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 520px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 329px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 811px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 77px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 77px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1753px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 6px;
  width: 229px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 57px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 370px;
  width: 700px;
  grid-gap: 17px;
  margin: 72px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-2 {
  height: 370px;
  width: 700px;
  grid-gap: 17px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-3 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-3 {
  height: 314px;
  width: 700px;
  grid-gap: 17px;
  margin: 6px auto 0;
}

.u-section-3 .u-gallery-inner-3 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-5 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-4 {
  height: 314px;
  width: 700px;
  grid-gap: 17px;
  margin: 23px auto 0 205px;
}

.u-section-3 .u-gallery-inner-4 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-7 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  --effect-scale: 1.5;
  transition-duration: 1s;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 500;
  margin: 57px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-4 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 43px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1965px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-gallery-1 {
    height: 398px;
    width: 604px;
    margin-top: 60px;
  }

  .u-section-3 .u-gallery-2 {
    height: 419px;
    width: 601px;
    margin-top: -12px;
  }

  .u-section-3 .u-gallery-3 {
    height: 334px;
    width: 600px;
    margin-top: -24px;
  }

  .u-section-3 .u-gallery-4 {
    height: 511px;
    margin-top: 40px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-gallery-1 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-2 {
    height: 205px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-3 {
    height: 265px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-4 {
    height: 263px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 109px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    font-weight: 900;
  }

  .u-section-3 .u-gallery-1 {
    height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-2 {
    height: 196px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-3 {
    height: 221px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-4 {
    height: 237px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-item-7 {
    margin-right: 0;
  }

  .u-section-3 .u-gallery-item-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-bottom: 45px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: url("2d181669a3ca87e7e40301d6df74728c7ed81b1efe3d5edf7c464a7bae643475f710bd5f172f474706ab18bb5bdd507a6aad007e665c7217ebbd76_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 515px;
}

.u-section-4 .u-group-1 {
  width: 706px;
  min-height: 453px;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 27px auto 35px 167px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 34px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  height: 50px;
  transition-duration: 1.5s;
  --radius: 50px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-group-1 {
    margin: 31px 0 31px auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 30px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 30px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
} .u-section-5 {
  background-image: none;
  min-height: 930px;
}

.u-section-5 .u-shape-1 {
  height: 402px;
  background-image: none;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-5 .u-shape-2 {
  width: 703px;
  height: 673px;
  background-image: none;
  margin: -373px calc(((100% - 1110px) / 2)  + 62px) 0 auto;
}

.u-section-5 .u-image-1 {
  width: 503px;
  height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -579px auto 0 calc(((100% - 1110px) / 2)  + 52px);
}

.u-section-5 .u-group-1 {
  width: 472px;
  min-height: 481px;
  height: auto;
  background-image: none;
  margin: -642px calc(((100% - 1110px) / 2)  + 83px) 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 33px 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 900;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 33px auto 0 17px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 36px 0 0 17px;
}

.u-section-5 .u-text-3 {
  letter-spacing: 10px;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -442px calc(((100% - 1110px) / 2)  + 300px) 0 calc(((100% - 1110px) / 2)  + 608px);
}

.u-section-5 .u-text-4 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 590px calc(((100% - 1110px) / 2)  + 138px) 0 calc(((100% - 1110px) / 2)  + 632px);
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -178px calc(((100% - 1110px) / 2)  + 273px) 0 calc(((100% - 1110px) / 2)  + 633px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1010px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 97px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -363px;
    margin-right: calc(((100% - 940px) / 2)  + -16px);
  }

  .u-section-5 .u-image-1 {
    margin-top: -530px;
    margin-left: calc(((100% - 940px) / 2)  + -33px);
  }

  .u-section-5 .u-group-1 {
    width: 447px;
    min-height: 471px;
    margin-top: -668px;
    margin-right: calc(((100% - 940px) / 2)  + 23px);
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: -432px;
    margin-right: calc(((100% - 940px) / 2)  + 228px);
    margin-left: calc(((100% - 940px) / 2)  + 510px);
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 571px;
    margin-right: calc(((100% - 940px) / 2)  + 30px);
    margin-left: calc(((100% - 940px) / 2)  + 570px);
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -176px;
    margin-right: calc(((100% - 940px) / 2)  + 161px);
    margin-left: calc(((100% - 940px) / 2)  + 570px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1135px;
  }

  .u-section-5 .u-shape-2 {
    height: 587px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    inset: auto;
    margin-top: -444px;
    margin-left: calc(((100% - 720px) / 2)  + -15px);
  }

  .u-section-5 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2)  + 30px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 105px);
    margin-left: calc(((100% - 720px) / 2)  + 413px);
  }

  .u-section-5 .u-text-4 {
    margin-top: 746px;
    margin-right: calc(((100% - 720px) / 2)  + 320px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-top: -182px;
    margin-right: calc(((100% - 720px) / 2)  + 500px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1146px;
  }

  .u-section-5 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2)  + 15px);
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: -463px;
    margin-right: calc(((100% - 540px) / 2)  + 55px);
    margin-left: calc(((100% - 540px) / 2)  + 283px);
  }

  .u-section-5 .u-text-4 {
    margin-top: 784px;
    margin-right: calc(((100% - 540px) / 2)  + 224px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-top: -189px;
    margin-right: calc(((100% - 540px) / 2)  + 126px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 985px;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 391px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -480px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -545px;
    margin-right: calc(((100% - 340px) / 2)  + 140px);
    margin-left: calc(((100% - 340px) / 2)  + 38px);
  }

  .u-section-5 .u-text-4 {
    line-height: 2.2;
    font-weight: 400;
    margin-top: 607px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 19px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -197px;
    margin-right: calc(((100% - 340px) / 2)  + 101px);
    margin-left: calc(((100% - 340px) / 2)  + 21px);
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 973px;
}

.u-section-6 .u-image-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  width: 965px;
  margin: -543px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 235px;
  grid-auto-columns: calc(33.3333% - 14px);
  grid-gap: 21px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-6 .u-container-layout-1 {
  padding: 16px 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 34px;
  width: 34px;
  margin: 16px 101px 0 113px;
  padding: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 8px -11px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-6 .u-container-layout-2 {
  padding: 16px 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 34px;
  width: 34px;
  margin: 16px 101px 0 113px;
  padding: 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 8px -11px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-6 .u-container-layout-3 {
  padding: 16px 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 34px;
  width: 34px;
  margin: 16px 101px 0 113px;
  padding: 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 8px -11px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1011px;
  margin: 81px auto 60px calc(((100% - 1110px) / 2)  + 26px);
}

.u-section-6 .u-layout-cell-1 {
  min-height: 522px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 3px 0 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px auto 0 26px;
}

.u-section-6 .u-form-1 {
  height: 371px;
  width: 487px;
  margin: 26px auto 0;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 522px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 910px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: -552px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
    min-height: 229px;
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }

  .u-section-6 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 90px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-6 .u-form-1 {
    width: 470px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 485px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1494px;
  }

  .u-section-6 .u-list-1 {
    width: 666px;
    margin-top: -507px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 535px;
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-6 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 31px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 31px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 750px;
    margin-top: 115px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-left: 8px;
  }

  .u-section-6 .u-form-1 {
    width: 360px;
    margin-top: 31px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 607px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1886px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 128px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1670px;
  }

  .u-section-6 .u-image-1 {
    height: 524px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: -494px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-6 .u-container-layout-4 {
    padding: 25px 20px 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-6 .u-form-1 {
    margin-top: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 438px;
  }
} .u-section-7 {
  background-image: url("https://pixabay.com/get/gf9a64e35d82d181669a3ca87e7e40301d6df74728c7ed81b1efe3d5edf7c464a7bae643475f710bd5f172f474706ab18bb5bdd507a6aad007e665c7217ebbd76_1280.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-layout-wrap-1 {
  width: 900px;
  margin: 90px auto -28px 76px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-shape-1 {
  width: 145px;
  height: 145px;
  margin: 11px auto 0 1px;
}

.u-section-7 .u-shape-2 {
  width: 130px;
  height: 98px;
  margin: -77px -84px 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 39px;
  width: 39px;
  background-image: none;
  margin: -60px auto 0;
  padding: 8px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 11px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 52px 12px 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -52px auto 29px 12px;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  width: 14px;
  height: 19px;
}

.u-section-7 .u-image-1 {
  min-height: 643px;
  background-image: url("Careers-in-graphic-design.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
    min-height: 180px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-left: 40px;
    margin-bottom: 33px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 789px;
  }

  .u-section-7 .u-shape-1 {
    width: 126px;
    height: 106px;
    margin-top: 12px;
    margin-left: 20px;
  }

  .u-section-7 .u-shape-2 {
    width: 111px;
    height: 83px;
    margin-top: 356px;
    margin-right: -73px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -433px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -83px;
    margin-left: 146px;
  }

  .u-section-7 .u-image-1 {
    min-height: 789px;
    --radius: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 108px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-7 .u-shape-2 {
    width: 89px;
    height: 80px;
    margin-top: -67px;
    margin-right: -108px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -76px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -42px;
    margin-left: 21px;
  }

  .u-section-7 .u-image-1 {
    min-height: 583px;
    background-size: auto 120%;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 213px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-7 .u-shape-1 {
    width: 158px;
    height: 129px;
  }

  .u-section-7 .u-shape-2 {
    width: 116px;
    height: 86px;
    margin-top: 392px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -509px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 11px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 46px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -45px;
    margin-left: 22px;
  }

  .u-section-7 .u-image-1 {
    min-height: 641px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 351px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 122px;
    height: 105px;
    margin-top: 55px;
    margin-right: 207px;
    margin-left: 11px;
  }

  .u-section-7 .u-shape-2 {
    width: 144px;
    height: 88px;
    margin-top: 415px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -520px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 4px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -41px;
    margin-left: 11px;
  }

  .u-section-7 .u-image-1 {
    min-height: 403px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 415px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 19px 597px 0 105px;
}

.u-section-8 .u-list-1 {
  width: 900px;
  margin: -1px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 272px;
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-8 .u-image-1 {
  width: 41px;
  height: 41px;
  margin: 54px auto 0 79px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  margin: 51px 19px 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-8 .u-image-2 {
  width: 41px;
  height: 41px;
  margin: 54px auto 0 79px;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  margin: 51px 19px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-8 .u-image-3 {
  width: 41px;
  height: 41px;
  margin: 54px auto 0 79px;
}

.u-section-8 .u-text-4 {
  font-size: 1rem;
  margin: 51px 19px 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-8 .u-image-4 {
  width: 41px;
  height: 41px;
  margin: 54px auto 0 79px;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  margin: 51px 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-right: 470px;
    margin-left: 32px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 27px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 27px;
    margin-right: 128px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 27px;
    margin-right: 128px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 27px;
    margin-right: 128px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-4 {
    margin-top: 27px;
    margin-right: 128px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 282px;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 898px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-8 .u-text-1 {
    width: 305px;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-list-1 {
    width: 436px;
    margin-top: 23px;
    margin-bottom: 36px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-8 .u-image-4 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 69px;
    margin-right: 14px;
    margin-left: 65px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 54px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 650px;
}

.u-section-9 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("Snapchat-1561682561.jpg");
  background-position: 50% 50%;
  margin: 67px auto 0;
}

.u-section-9 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 30px auto 60px;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 93px;
}

.u-section-10 .u-image-1 {
  width: 162px;
  height: 55px;
  margin: 19px auto 0 45px;
}

.u-section-10 .u-text-1 {
  font-size: 1.125rem;
  margin: -55px 73px 0 auto;
}

.u-section-10 .u-social-icons-1 {
  height: 33px;
  min-height: 16px;
  width: 139px;
  min-width: 88px;
  transition-duration: 1.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -18px auto 0;
}

.u-section-10 .u-icon-3 {
  height: 100%;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: -20px 63px 19px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 20px;
    margin-left: 36px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1rem;
    margin-top: -45px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -28px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -5px;
    margin-right: 31px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-10 .u-image-1 {
    width: 126px;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -39px;
    margin-right: 79px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -27px;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 27px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-10 .u-image-1 {
    width: 134px;
    height: 54px;
    margin-top: 16px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -14px;
    margin-right: auto;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -59px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-10 .u-image-1 {
    width: 100px;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-10 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -13px;
  }

  .u-section-10 .u-social-icons-1 {
    height: 32px;
    width: 136px;
    margin-top: -86px;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 55px;
    margin-bottom: 15px;
  }
}

.u-section-10 .u-social-icons-1,
.u-section-10 .u-social-icons-1:before,
.u-section-10 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-10 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-10 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-10 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-10 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-10 .u-container-layout:hover .u-social-icons-1 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-10 .u-social-icons-1 {
  opacity: 1 !important;
}