.u-section-1 .u-sheet-1 {
  min-height: 1774px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 93px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 746px;
  width: 900px;
  grid-gap: 17px;
  margin: 93px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-2 {
  height: 746px;
  width: 900px;
  grid-gap: 17px;
  margin: 17px auto 16px;
}

.u-section-1 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 115px;
  }

  .u-section-1 .u-gallery-2 {
    margin-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3308px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 81px;
    margin-right: 294px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 212px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1513px;
    width: 720px;
    margin-top: 81px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-gallery-2 {
    width: 720px;
    margin-bottom: -89px;
    height: 1513px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2838px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 1436px;
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: -31px;
    margin-bottom: 0;
    height: 1201px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-gallery-1 {
    height: 710px;
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 0;
    margin-bottom: 9px;
    height: 776px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 764px;
}

.u-section-2 .u-gallery-1 {
  height: 746px;
  width: 900px;
  grid-gap: 17px;
  margin: 0 auto 18px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1513px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1154px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-gallery-1 {
    height: 821px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: url("a6a92b91fc73173ab0f23de1b6790745b56ce1c3809c04bcb4ef3b035f241660aa57b93f16fa650d0048e39cbb4aed941881b71c7b6dbe4cb0fd88_1280.jpg");
  background-position: 50% 50%;
  background-size: auto 160%;
}

.u-section-3 .u-sheet-1 {
  min-height: 825px;
}

.u-section-3 .u-gallery-1 {
  height: 738px;
  width: 900px;
  grid-gap: 17px;
  margin: 29px auto 58px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1498px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1562px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-3 .u-gallery-1 {
    height: 822px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 93px;
}

.u-section-4 .u-image-1 {
  width: 162px;
  height: 55px;
  margin: 19px auto 0 45px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: -55px 73px 0 auto;
}

.u-section-4 .u-social-icons-1 {
  height: 33px;
  min-height: 16px;
  width: 139px;
  min-width: 88px;
  transition-duration: 1.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -18px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: -20px 63px 19px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 18px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: -14px;
    margin-right: 58px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-right: 64px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -11px;
    margin-right: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-4 .u-image-1 {
    width: 122px;
    height: 56px;
    margin-top: 14px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -10px;
    margin-right: auto;
    margin-left: 191px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 25px;
    width: 115px;
    margin-top: -65px;
    margin-left: 199px;
  }

  .u-section-4 .u-text-2 {
    margin: 40px auto 17px 128px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 53px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -2px;
    margin-left: auto;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: -103px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 84px;
    margin-left: auto;
    margin-bottom: 23px;
  }
}

.u-section-4 .u-social-icons-1,
.u-section-4 .u-social-icons-1:before,
.u-section-4 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-4 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-4 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-social-icons-1 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-4 .u-social-icons-1 {
  opacity: 1 !important;
}
